.container {
  display: flex;
  flex-wrap: wrap;
}

ion-card {
  flex: max-content;
}

.page-content {
  --background: var(--ion-color-light);

  .post-card {
    outline: none;

    .read-more-label {
      text-align: right;
    }
  }
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}